@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	[hidden] {
		display: none !important;
	}

	::selection {
		@apply bg-cyan-950 text-teal-200;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	html {
		accent-color: theme('colors.ink');
		caret-color: theme('colors.ink');
		scroll-behavior: smooth;
		@apply text-gray-950 transition-all duration-300;
	}

	summary {
		cursor: pointer;
	}
	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	/* typography */
	.display {
		font-size: var(--display--font-size);
		@apply font-semibold leading-snug;
	}
	.h1 {
		font-size: var(--h1--font-size);
		@apply font-semibold leading-snug;
	}
	.h2 {
		font-size: var(--h2--font-size);
	}
	.h3 {
		font-size: var(--h3--font-size);
	}
	.h4 {
		font-size: var(--h4--font-size);
	}
	.h5 {
		font-size: var(--h5--font-size);
	}
	.h6 {
		font-size: var(--h6--font-size);
	}

	.text-large {
		font-size: var(--text-large--font-size);
	}
	.text-main {
		font-size: var(--text-main--font-size);
	}
	.text-small {
		font-size: var(--text-small--font-size);
	}

	.technical {
		text-transform: uppercase;
		font-weight: 300;
	}

	/* ctas, links */

	._btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}

	.primary {
		@apply _btn h-10 rounded-lg bg-cyan-950 px-4 font-medium text-white outline outline-2 outline-offset-0 outline-cyan-500/20 max-md:w-full;
	}

	.secondary {
		@apply _btn h-10 rounded-lg bg-teal-600 px-4 font-medium text-white outline outline-2 outline-offset-0 outline-teal-500/20 max-md:w-full;
	}

	.tertiary {
		@apply _btn h-10 rounded-lg bg-white px-4 font-medium text-cyan-950 outline outline-2 outline-offset-0 outline-teal-500/20 max-md:w-full;
	}

	/* .link {
		text-decoration: no-underline;
		&:hover {
			text-decoration-thickness: 2px;
		}
		@apply _btn h-10 rounded-lg bg-teal-600 px-4 font-medium outline outline-2 outline-offset-0 outline-teal-500/20;
	} */

	/* layout */

	.section {
		@apply mx-auto max-w-screen-xl;
		padding: 0 var(--padding-horizontal--main);
	}

	.fluid-gap {
		gap: var(--padding-horizontal--main);
	}

	.fluid-padding {
		padding: var(--padding-horizontal--main);
	}

	.fluid-vertical-space {
		padding: var(--size--4rem) 0;
	}
}

@layer utilities {
	.sticky-below-header {
		position: sticky;
		top: calc(var(--header-height) + var(--offset, 0px));
	}

	.full-bleed {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		& > * {
			flex: 0 0 calc(min(var(--size, 300px), 80vw));
			scroll-snap-align: center;
		}
	}

	.no-scrollbar {
		-webkit-overflow-scrolling: touch;
		overflow: auto;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.overflow-fade {
		--offset: 2rem;
		mask: linear-gradient(
			to right,
			transparent,
			black var(--offset),
			black calc(100% - var(--offset)),
			transparent
		);
	}

	.accordion {
		& summary {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;
			gap: 1em;

			&::after {
				content: '+';
				font-family: monospace;
				font-size: 1.5em;
				line-height: 1;
			}
		}

		& ::-webkit-details-marker {
			display: none;
		}

		&[open] summary::after {
			content: '-';
		}
	}

	.richtext {
		& :is(ul, ol) {
			list-style: revert;
			padding-left: 1.5em;
		}

		/* & a:not([class*='action']) {
			@apply link;

			padding: 0.5em 1em;
		} */

		& code {
			@apply rounded bg-ink/10 px-1;
		}
	}

	/* animations */

	@keyframes anim-fade-to {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		--x: 0;
		--y: 0;
		animation: anim-fade-to 0.2s ease-in-out forwards;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}
}

.hero-background {
	background-image: linear-gradient(to bottom, transparent, white),
		radial-gradient(
			ellipse at top center,
			#155e75 0%,
			#2dd4bf 60%,
			#f0fdfa 100%
		);
}
.brief-background {
	background: radial-gradient(
		100% 100% at 0% 0%,
		#2dd4bf 0%,
		#164e63 67.15%,
		#083344 100%
	);
}

.brief-background-2 {
	background: radial-gradient(
		100% 100% at 0% 0%,
		#155e75 0%,
		#2dd4bf 50%,
		#ffffff 100%
	);
}

.svg-container svg {
	height: 100% !important; /* Override any existing height */
	width: auto !important; /* Maintain aspect ratio */
}

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=20&g=--padding-horizontal--main,3,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.2,t_--size--3-5rem,3.5,2.375_--size--4rem,4,2.5_--size--4-5rem,4.5,2.75_--size--5rem,5,3_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,5.5_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,8&g=:1.125,1.125:--display--font-size,5,2.02,t_--h1--font-size,4.44,1.8_--h2--font-size,3.95,1.6_--h3--font-size,3.51,1.42_--h4--font-size,3.12,1.26_--h5--font-size,2.77,1.12_--h6--font-size,2.47,1&g=:1.2,1.14:,1.8,1.3_--text-large--font-size,1.5,1.14_--text-main--font-size,1.25,1,t_--text-small--font-size,1.04,0.88 */

/* fallback for older browsers */
:root {
	--padding-horizontal--main: 3rem;
	--size--2rem: 2rem;
	--size--2-5rem: 2.5rem;
	--size--3rem: 3rem;
	--size--3-5rem: 3.5rem;
	--size--4rem: 4rem;
	--size--4-5rem: 4.5rem;
	--size--5rem: 5rem;
	--size--5-5rem: 5.5rem;
	--size--6rem: 6rem;
	--size--6-5rem: 6.5rem;
	--size--7rem: 7rem;
	--size--7-5rem: 7.5rem;
	--size--8rem: 8rem;
	--size--8-5rem: 8.5rem;
	--size--9rem: 9rem;
	--size--9-5rem: 9.5rem;
	--size--10rem: 10rem;
	--size--11rem: 11rem;
	--size--12rem: 12rem;
	--size--13rem: 13rem;
	--size--14rem: 14rem;
	--size--15rem: 15rem;
	--size--16rem: 16rem;
	--display--font-size: 5rem;
	--h1--font-size: 4.44rem;
	--h2--font-size: 3.95rem;
	--h3--font-size: 3.51rem;
	--h4--font-size: 3.12rem;
	--h5--font-size: 2.77rem;
	--h6--font-size: 2.47rem;
	--text-large--font-size: 1.5rem;
	--text-main--font-size: 1.25rem;
	--text-small--font-size: 1.04rem;
}
@media screen and (max-width: 767px) {
	:root {
		--padding-horizontal--main: 1rem;
		--size--2rem: 1.75rem;
		--size--2-5rem: 2rem;
		--size--3rem: 2.2rem;
		--size--3-5rem: 2.375rem;
		--size--4rem: 2.5rem;
		--size--4-5rem: 2.75rem;
		--size--5rem: 3rem;
		--size--5-5rem: 3.25rem;
		--size--6rem: 3.5rem;
		--size--6-5rem: 3.75rem;
		--size--7rem: 4rem;
		--size--7-5rem: 4.25rem;
		--size--8rem: 4.5rem;
		--size--8-5rem: 4.75rem;
		--size--9rem: 5rem;
		--size--9-5rem: 5.25rem;
		--size--10rem: 5.5rem;
		--size--11rem: 5.75rem;
		--size--12rem: 6rem;
		--size--13rem: 6.5rem;
		--size--14rem: 7rem;
		--size--15rem: 7.5rem;
		--size--16rem: 8rem;
		--display--font-size: 2.02rem;
		--h1--font-size: 1.8rem;
		--h2--font-size: 1.6rem;
		--h3--font-size: 1.42rem;
		--h4--font-size: 1.26rem;
		--h5--font-size: 1.12rem;
		--h6--font-size: 1rem;
		--text-large--font-size: 1.3rem;
		--text-main--font-size: 1.14rem;
		--text-small--font-size: 1rem;
	}
}

/* fluid sizes */
@supports (font-size: clamp(1rem, 0.5rem + 3vw, 3rem)) {
	:root {
		--padding-horizontal--main: clamp(1rem, 0.334rem + 3.33vw, 3rem);
		--size--2rem: clamp(1.75rem, 1.666rem + 0.42vw, 2rem);
		--size--2-5rem: clamp(2rem, 1.834rem + 0.83vw, 2.5rem);
		--size--3rem: clamp(2.2rem, 1.934rem + 1.33vw, 3rem);
		--size--3-5rem: clamp(2.375rem, 2.001rem + 1.87vw, 3.5rem);
		--size--4rem: clamp(2.5rem, 2rem + 2.5vw, 4rem);
		--size--4-5rem: clamp(2.75rem, 2.166rem + 2.92vw, 4.5rem);
		--size--5rem: clamp(3rem, 2.334rem + 3.33vw, 5rem);
		--size--5-5rem: clamp(3.25rem, 2.5rem + 3.75vw, 5.5rem);
		--size--6rem: clamp(3.5rem, 2.666rem + 4.17vw, 6rem);
		--size--6-5rem: clamp(3.75rem, 2.834rem + 4.58vw, 6.5rem);
		--size--7rem: clamp(4rem, 3rem + 5vw, 7rem);
		--size--7-5rem: clamp(4.25rem, 3.166rem + 5.42vw, 7.5rem);
		--size--8rem: clamp(4.5rem, 3.334rem + 5.83vw, 8rem);
		--size--8-5rem: clamp(4.75rem, 3.5rem + 6.25vw, 8.5rem);
		--size--9rem: clamp(5rem, 3.666rem + 6.67vw, 9rem);
		--size--9-5rem: clamp(5.25rem, 3.834rem + 7.08vw, 9.5rem);
		--size--10rem: clamp(5.5rem, 4rem + 7.5vw, 10rem);
		--size--11rem: clamp(5.75rem, 4rem + 8.75vw, 11rem);
		--size--12rem: clamp(6rem, 4rem + 10vw, 12rem);
		--size--13rem: clamp(6.5rem, 4.334rem + 10.83vw, 13rem);
		--size--14rem: clamp(7rem, 4.666rem + 11.67vw, 14rem);
		--size--15rem: clamp(7.5rem, 5rem + 12.5vw, 15rem);
		--size--16rem: clamp(8rem, 5.334rem + 13.33vw, 16rem);
		--display--font-size: clamp(2.02rem, 1.026rem + 4.97vw, 5rem);
		--h1--font-size: clamp(1.8rem, 0.92rem + 4.4vw, 4.44rem);
		--h2--font-size: clamp(1.6rem, 0.816rem + 3.92vw, 3.95rem);
		--h3--font-size: clamp(1.42rem, 0.724rem + 3.48vw, 3.51rem);
		--h4--font-size: clamp(1.26rem, 0.64rem + 3.1vw, 3.12rem);
		--h5--font-size: clamp(1.12rem, 0.57rem + 2.75vw, 2.77rem);
		--h6--font-size: clamp(1rem, 0.51rem + 2.45vw, 2.47rem);
		--text-large--font-size: clamp(1.14rem, 1.02rem + 0.6vw, 1.5rem);
		--text-main--font-size: clamp(1rem, 0.916rem + 0.42vw, 1.25rem);
		--text-small--font-size: clamp(0.88rem, 0.826rem + 0.27vw, 1.04rem);
	}
}
