@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* html[dir='rtl'] {
		font-family: 'Rubik', sans-serif;
	}

	html[dir='ltr'] {
		font-family: 'Inter', sans-serif;
	} */

	[hidden] {
		display: none !important;
	}

	::selection {
		@apply bg-cyan-950 text-teal-200;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	html {
		accent-color: theme('colors.teal.600');
		caret-color: theme('colors.teal.600');
		@apply text-gray-950 antialiased transition-all duration-300;
		scroll-padding-top: var(--header-height);
		overscroll-behavior: none;
		scroll-behavior: smooth;
	}

	summary {
		cursor: pointer;
	}
	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	/* typography */
	.display {
		font-size: var(--display--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h1 {
		font-size: var(--h1--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h2 {
		font-size: var(--h2--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h3 {
		font-size: var(--h3--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h4 {
		font-size: var(--h4--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h5 {
		font-size: var(--h5--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}
	.h6 {
		font-size: var(--h6--font-size);
		@apply font-semibold leading-snug ltr:tracking-tighter;
	}

	.text-large {
		font-size: var(--text-large--font-size);
	}
	.text-main {
		font-size: var(--text-main--font-size);
	}
	.text-small {
		font-size: var(--text-small--font-size);
	}

	.technical {
		text-transform: uppercase;
		font-weight: 300;
	}

	/* ctas, links */

	._btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}

	.primary {
		@apply _btn h-10 rounded-lg bg-cyan-950 px-4 font-medium text-white outline-2 outline-offset-0 outline-teal-500/20 transition-all hover:opacity-95 max-md:w-full;
	}

	.secondary {
		@apply _btn h-10 rounded-lg bg-teal-500 px-4 font-medium text-cyan-950 outline-2 outline-offset-0 outline-teal-500/20 transition-all hover:opacity-95 max-md:w-full;
	}

	.tertiary {
		@apply _btn h-10 rounded-lg bg-white px-4 font-medium text-gray-800 outline outline-2 outline-offset-0 outline-teal-500/20 transition-all hover:opacity-95 max-md:w-full;
	}

	/* .link {
		text-decoration: no-underline;
		&:hover {
			text-decoration-thickness: 2px;
		}
		@apply _btn h-10 rounded-lg bg-teal-600 px-4 font-medium outline outline-2 outline-offset-0 outline-teal-500/20;
	} */

	/* layout */

	.section {
		@apply mx-auto max-w-screen-xl;
		padding: 0 var(--padding-horizontal--main);
	}

	.fluid-gap {
		gap: var(--padding-horizontal--main);
	}

	.fluid-padding {
		padding: var(--padding-horizontal--main);
	}

	.fluid-vertical-space {
		padding: var(--size--4-5rem) 0;
	}

	.embla {
		/* max-width: 48rem; */
		margin: auto;
		/* --slide-height: 19rem; */
		--slide-spacing: var(--padding-horizontal--main);
		--slide-size: 55%;
	}
	.embla__viewport {
		overflow: hidden;
	}
	.embla__container {
		/* backface-visibility: hidden; */
		display: flex;
		touch-action: pan-y pinch-zoom;
		margin-left: calc(var(--slide-spacing) * -1);
	}
	.embla__slide {
		flex: 0 0 40%;
		min-width: 0;
		aspect-ratio: 2/1;
		padding-left: var(--slide-spacing);
	}
	@media (min-width: 768px) {
		.embla__slide {
			flex: 0 0 var(--slide-size); /* Breakpoint SM slide covers 50% of the viewport */
		}
	}
	.slide-item {
		height: fit-content;
		user-select: none;
		/* backface-visibility: hidden; */
	}
	.embla__button {
		text-decoration: none;
		z-index: 1;
		@apply flex size-8 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-transparent text-cyan-950/40 transition-all hover:text-cyan-950;
	}
	.embla__button:disabled {
		color: theme(colors.gray.500);
	}
	.embla__dots {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin-inline-end: calc((2.6rem - 1.4rem) / 2 * -1);
	}
	.embla__dot {
		-webkit-tap-highlight-color: theme(colors.cyan.950);
		text-decoration: none;
		border: 0;
		padding: 0;
		margin: 0;
		@apply flex size-5 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-transparent;
	}
	.embla__dot:after {
		content: '';
		@apply flex size-1 cursor-pointer touch-manipulation appearance-none items-center justify-center rounded-full bg-cyan-950/40 transition-all hover:bg-cyan-950;
	}
	.embla__dot--selected:after {
		@apply size-2 bg-cyan-950;
	}
}

@layer utilities {
	.sticky-below-header {
		position: sticky;
		top: calc(var(--header-height) + var(--offset, 0px));
	}

	.full-bleed {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		& > * {
			flex: 0 0 calc(min(var(--size, 300px), 80vw));
			scroll-snap-align: center;
		}
	}

	.no-scrollbar {
		-webkit-overflow-scrolling: touch;
		overflow: auto;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.overflow-fade {
		--offset: 2rem;
		mask: linear-gradient(
			to right,
			transparent,
			black var(--offset),
			black calc(100% - var(--offset)),
			transparent
		);
	}

	.accordion {
		& summary {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;
			gap: 1em;

			&::after {
				content: '+';
				font-family: monospace;
				font-size: 1.5em;
				line-height: 1;
			}
		}

		& ::-webkit-details-marker {
			display: none;
		}

		&[open] summary::after {
			content: '-';
		}
	}

	.richtext {
		& :is(ul, ol) {
			list-style: revert;
			padding-left: 1.5em;
		}

		/* & a:not([class*='action']) {
			@apply link;

			padding: 0.5em 1em;
		} */

		& code {
			@apply rounded bg-ink/10 px-1;
		}
	}

	/* animations */

	@keyframes anim-fade-to {
		from {
			opacity: 0;
			translate: var(--x, 0) var(--y, 0);
		}
	}

	.anim-fade,
	.anim-fade-to-l,
	.anim-fade-to-r,
	.anim-fade-to-t,
	.anim-fade-to-b {
		--x: 0;
		--y: 0;
		animation: anim-fade-to 0.2s ease-in-out forwards;
	}

	.anim-fade-to-l {
		--x: 1rem;
	}

	.anim-fade-to-r {
		--x: -1rem;
	}

	.anim-fade-to-t {
		--y: 1rem;
	}

	.anim-fade-to-b {
		--y: -1rem;
	}
}

.hero-background {
	background-image: linear-gradient(to bottom, transparent, white),
		radial-gradient(
			ellipse at top center,
			#155e75 0%,
			#2dd4bf 60%,
			#f0fdfa 100%
		);
}
.brief-background {
	background: linear-gradient(
		to bottom right,
		#164e63 0%,
		#2dd4bf 50%,
		#ffffff 100%
	);
}

.brief-background-2 {
	background: radial-gradient(
		100% 100% at 0% 0%,
		#155e75 0%,
		#2dd4bf 50%,
		#ffffff 100%
	);
}

.applist-background:nth-child(1) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #fdf2f8 100%);
}
.applist-background:nth-child(2) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #ecfeff 100%);
}
.applist-background:nth-child(3) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #fefce8 100%);
}
.applist-background:nth-child(4) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #fdf2f8 100%);
}
.applist-background:nth-child(5) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #f7fee7 100%);
}
.applist-background:nth-child(6) {
	background-image: linear-gradient(to right bottom, #ffffff 50%, #fefce8 100%);
}

.svg-container svg {
	height: 100% !important; /* Override any existing height */
	width: auto !important; /* Maintain aspect ratio */
}

.customScrollbar {
	overflow-y: scroll;
	direction: ltr;
}
.mask {
	mask-image: linear-gradient(
		to bottom,
		transparent 0%,
		black 20%,
		black 80%,
		transparent 100%
	);
}

.customScrollbar::-webkit-scrollbar {
	width: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
	background: #08334420;
	border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
	background: #ffffff20;
}

.scroll-items-fade {
	-webkit-mask-image: linear-gradient(
		180deg,
		transparent 5%,
		rgba(0, 0, 0, 1) 52%,
		transparent 95% rgba(0, 0, 0, 1) 44%
	);
	-webkit-mask-size: calc(100% - 10px) 100%;
	-webkit-mask-position: left top;
	-webkit-mask-clip: content-box;
	mask-image: linear-gradient(
		180deg,
		transparent 5%,
		rgba(0, 0, 0, 1) 52%,
		rgba(0, 0, 0, 1) 44%,
		transparent 95%
	);
	mask-size: calc(100% - 10px) 100%;
	mask-position: left top;
	mask-clip: content-box;
}

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=23&g=--padding-horizontal--main,3,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.25_--size--3-5rem,3.5,2.375_--size--4rem,4,2.5_--size--4-5rem,4.5,2.75_--size--5rem,5,3_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,5.5_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,8&g=:1.25,1.2:--display--font-size,4.77,2.99_--h1--font-size,3.81,2.49_--h2--font-size,3.05,2.07_--h3--font-size,2.44,1.73_--h4--font-size,1.95,1.44_--h5--font-size,1.56,1.2_--h6--font-size,1.25,1,t&g=:1.2,1.14:--text-larger--font-size,1.51,1.3_--text-large--font-size,1.26,1.14_--text-main--font-size,1.05,1_--text-small--font-size,0.875,0.875,t */

/* https://fluidbuilder.webflow.io/?design=80&max=80&min=20&g=--padding-horizontal--main,3,1_--size--2rem,2,1.75_--size--2-5rem,2.5,2_--size--3rem,3,2.2,t_--size--3-5rem,3.5,2.375_--size--4rem,4,2.5_--size--4-5rem,4.5,2.75_--size--5rem,5,3_--size--5-5rem,5.5,3.25_--size--6rem,6,3.5_--size--6-5rem,6.5,3.75_--size--7rem,7,4_--size--7-5rem,7.5,4.25_--size--8rem,8,4.5_--size--8-5rem,8.5,4.75_--size--9rem,9,5_--size--9-5rem,9.5,5.25_--size--10rem,10,5.5_--size--11rem,11,5.75_--size--12rem,12,6_--size--13rem,13,6.5_--size--14rem,14,7_--size--15rem,15,7.5_--size--16rem,16,8&g=:1.125,1.125:--display--font-size,5,2.02,t_--h1--font-size,4.44,1.8_--h2--font-size,3.95,1.6_--h3--font-size,3.51,1.42_--h4--font-size,3.12,1.26_--h5--font-size,2.77,1.12_--h6--font-size,2.47,1&g=:1.2,1.14:,1.8,1.3_--text-large--font-size,1.5,1.14_--text-main--font-size,1.25,1,t_--text-small--font-size,1.04,0.88 */

/* fallback for older browsers */
:root {
	--padding-horizontal--main: 3rem;
	--size--2rem: 2rem;
	--size--2-5rem: 2.5rem;
	--size--3rem: 3rem;
	--size--3-5rem: 3.5rem;
	--size--4rem: 4rem;
	--size--4-5rem: 4.5rem;
	--size--5rem: 5rem;
	--size--5-5rem: 5.5rem;
	--size--6rem: 6rem;
	--size--6-5rem: 6.5rem;
	--size--7rem: 7rem;
	--size--7-5rem: 7.5rem;
	--size--8rem: 8rem;
	--size--8-5rem: 8.5rem;
	--size--9rem: 9rem;
	--size--9-5rem: 9.5rem;
	--size--10rem: 10rem;
	--size--11rem: 11rem;
	--size--12rem: 12rem;
	--size--13rem: 13rem;
	--size--14rem: 14rem;
	--size--15rem: 15rem;
	--size--16rem: 16rem;
	--display--font-size: 4.77rem;
	--h1--font-size: 3.81rem;
	--h2--font-size: 3.05rem;
	--h3--font-size: 2.44rem;
	--h4--font-size: 1.95rem;
	--h5--font-size: 1.56rem;
	--h6--font-size: 1.25rem;
	--text-larger--font-size: 1.51rem;
	--text-large--font-size: 1.26rem;
	--text-main--font-size: 1.05rem;
	--text-small--font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
	:root {
		--padding-horizontal--main: 1rem;
		--size--2rem: 1.75rem;
		--size--2-5rem: 2rem;
		--size--3rem: 2.25rem;
		--size--3-5rem: 2.375rem;
		--size--4rem: 2.5rem;
		--size--4-5rem: 2.75rem;
		--size--5rem: 3rem;
		--size--5-5rem: 3.25rem;
		--size--6rem: 3.5rem;
		--size--6-5rem: 3.75rem;
		--size--7rem: 4rem;
		--size--7-5rem: 4.25rem;
		--size--8rem: 4.5rem;
		--size--8-5rem: 4.75rem;
		--size--9rem: 5rem;
		--size--9-5rem: 5.25rem;
		--size--10rem: 5.5rem;
		--size--11rem: 5.75rem;
		--size--12rem: 6rem;
		--size--13rem: 6.5rem;
		--size--14rem: 7rem;
		--size--15rem: 7.5rem;
		--size--16rem: 8rem;
		--display--font-size: 2.99rem;
		--h1--font-size: 2.49rem;
		--h2--font-size: 2.07rem;
		--h3--font-size: 1.73rem;
		--h4--font-size: 1.44rem;
		--h5--font-size: 1.2rem;
		--h6--font-size: 1rem;
		--text-larger--font-size: 1.3rem;
		--text-large--font-size: 1.14rem;
		--text-main--font-size: 1rem;
		--text-small--font-size: 0.875rem;
	}
}

/* fluid sizes */
@supports (font-size: clamp(1rem, 0.5rem + 3vw, 3rem)) {
	:root {
		--padding-horizontal--main: clamp(1rem, 0.1927rem + 3.51vw, 3rem);
		--size--2rem: clamp(1.75rem, 1.6488rem + 0.44vw, 2rem);
		--size--2-5rem: clamp(2rem, 1.7976rem + 0.88vw, 2.5rem);
		--size--3rem: clamp(2.25rem, 1.9464rem + 1.32vw, 3rem);
		--size--3-5rem: clamp(2.375rem, 1.9219rem + 1.97vw, 3.5rem);
		--size--4rem: clamp(2.5rem, 1.8951rem + 2.63vw, 4rem);
		--size--4-5rem: clamp(2.75rem, 2.0439rem + 3.07vw, 4.5rem);
		--size--5rem: clamp(3rem, 2.1927rem + 3.51vw, 5rem);
		--size--5-5rem: clamp(3.25rem, 2.3415rem + 3.95vw, 5.5rem);
		--size--6rem: clamp(3.5rem, 2.4903rem + 4.39vw, 6rem);
		--size--6-5rem: clamp(3.75rem, 2.6414rem + 4.82vw, 6.5rem);
		--size--7rem: clamp(4rem, 2.7902rem + 5.26vw, 7rem);
		--size--7-5rem: clamp(4.25rem, 2.939rem + 5.7vw, 7.5rem);
		--size--8rem: clamp(4.5rem, 3.0878rem + 6.14vw, 8rem);
		--size--8-5rem: clamp(4.75rem, 3.2366rem + 6.58vw, 8.5rem);
		--size--9rem: clamp(5rem, 3.3854rem + 7.02vw, 9rem);
		--size--9-5rem: clamp(5.25rem, 3.5342rem + 7.46vw, 9.5rem);
		--size--10rem: clamp(5.5rem, 3.6853rem + 7.89vw, 10rem);
		--size--11rem: clamp(5.75rem, 3.6317rem + 9.21vw, 11rem);
		--size--12rem: clamp(6rem, 3.5781rem + 10.53vw, 12rem);
		--size--13rem: clamp(6.5rem, 3.878rem + 11.4vw, 13rem);
		--size--14rem: clamp(7rem, 4.1756rem + 12.28vw, 14rem);
		--size--15rem: clamp(7.5rem, 4.4732rem + 13.16vw, 15rem);
		--size--16rem: clamp(8rem, 4.7708rem + 14.04vw, 16rem);
		--display--font-size: clamp(2.99rem, 2.2724rem + 3.12vw, 4.77rem);
		--h1--font-size: clamp(2.49rem, 1.9564rem + 2.32vw, 3.81rem);
		--h2--font-size: clamp(2.07rem, 1.6744rem + 1.72vw, 3.05rem);
		--h3--font-size: clamp(1.73rem, 1.4425rem + 1.25vw, 2.44rem);
		--h4--font-size: clamp(1.44rem, 1.2353rem + 0.89vw, 1.95rem);
		--h5--font-size: clamp(1.2rem, 1.0551rem + 0.63vw, 1.56rem);
		--h6--font-size: clamp(1rem, 0.8988rem + 0.44vw, 1.25rem);
		--text-larger--font-size: clamp(1.3rem, 1.2149rem + 0.37vw, 1.51rem);
		--text-large--font-size: clamp(1.14rem, 1.0917rem + 0.21vw, 1.26rem);
		--text-main--font-size: clamp(1rem, 0.9793rem + 0.09vw, 1.05rem);
		--text-small--font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
	}
}
